<html>
<div>Messages list</div>
    <form method="post">
        <input type="text" name="text" placeholder="Input text">
        <input type="text" name="tag" placeholder="Input tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Add</button>
    </form>
<br>
<div>Search by tag</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Search</button>
</form>
    <div>
        {{#messages}}
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
            <strong>{{authorName}}</strong>
        {{/messages}}
    </div>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Sign Out"/>
</form>
</html>